@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
:root {
  --font-league-spartan: "League Spartan", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --background: #171717;
  --foreground: #ffffff;
}
.league-spartan {
  font-family: var(--font-league-spartan);
  font-weight: var(--font-weight);
}
.montserrat {
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight);
}
.teletaGreen {
  color: #84cc16;
}
.teletaYellow {
  color: #fde047;
}
.teletaYellowBg {
  background-color: #fde047;
}
.stacked-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Media query for small screens */
@media (max-width: 639px) {
  .stacked-grid {
    grid-template-rows: 60% 40%;
    grid-template-columns: 1fr;
    height: 100vh;
  }
}
/* Optional: Center content in grid items */
.stacked-grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for navBarServer*/
@media (min-width: 1024px) {
  .mdNavBarHeight {
    height: 80px;
  }
}
/* Styling for hero*/
@media (min-width: 900px) {
  .heroGrid {
    grid-template-columns: 20% 80%;
  }
}

/* Styling for heroSubscribe*/
.custom-transition {
  transition: width 1s ease;
  width: 35%;
}
.custom-transition:hover {
  width: 100%;
  transition: width 1s ease;
}
.custom-hover-effect:hover{
  color:#84cc16;
}